:root {
  --text-color: #0a3245;
  --not-active-text-color: #0a3245;
  --bg-color: white;
  --max-width: 100vw;
  --mem-height: 30vh;
  --font-size: 0.8em;
}

.body {
  background: var(--bg-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: var(--font-size);
  height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
}

.wrapper {
  margin: 1em auto;
  width: var(--max-width);
  padding: 0 1em;
  color: var(--not-active-text-color);
}

.wrapper:hover {
  color: var(--text-color);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mem {
  border-top: 0.1em solid var(--text-color);
  margin-bottom: 1em;
  width: 100%;
  overflow: hidden;
}

.title {
  color: var(--text-color);
  font-size: calc(var(--font-size) * 1.5);
}

input {
  opacity: 0;
  z-index: -1;
}

label {
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
  text-align: left;
  transition: 0.35s;
}

.mem-content {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
  opacity: 0;
  transition: 0.35s;
  margin-bottom: 1em;
  cursor: pointer;
}

#mem1 {
  background-image: url("./src/css.png");
}
#mem2 {
  background-image: url("./src/dev.png");
}
#mem3 {
  background-image: url("./src/states.png");
}
#mem4 {
  background-image: url("./src/bugs.png");
}
#mem5 {
  background-image: url("./src/line.png");
}

/* :checked */
input:checked ~ label .mem-content {
  height: var(--mem-height);
  opacity: 1;
}

input:checked ~ label {
  color: var(--text-color);
}

/* Icon */
.icon {
  transition: all 0.35s;
}

input:checked ~ label .icon {
  transform: rotateX(180deg);
}

@media screen and (min-width: 820px) {
  :root {
    --max-width: 70vw;
    --mem-height: 50vh;
    --font-size: 1em;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --not-active-text-color: #00aaaa;
  }

  input:hover ~ label .mem-content {
    height: var(--mem-height);
    opacity: 1;
  }

  .mem-content:hover {
    height: var(--mem-height);
    opacity: 1;
  }

  input:active ~ label {
    color: var(--not-active-text-color);
  }

  input:active ~ label .mem-content {
    height: var(--mem-height);
    opacity: 0.5;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --max-width: 50vw;
    --mem-height: 50vh;
    --font-size: 1.2em;
  }
}
